.pending { color: lightgray; }
.error { color: red; }
.success { color: green; }
.info { color: #0489B1; }

/* syntax highlighting */
pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    white-space: pre-wrap;
}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: gray; }

.btn-danger:first-child {
    border-radius: 50%;
    line-height: 0;
    padding: 2px;
    position: absolute;
    right: 0;
    top: -10px;
    z-index: 5;
}
