.pending { color: lightgray; }
.error { color: red; }
.success { color: green; }
.info { color: #0489B1; }

/* syntax highlighting */
pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    white-space: pre-wrap;
}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: gray; }
