body  {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    font-size: 14px;
	margin-top: 0;
}

#header {
    background-color: white;
    outline: 1px solid lightgray;
    padding: 5px;
    width: 50%;
}

#templates {
    display: none;
}

.column {
    width: 100%;
}

input, select {
    left: 200px;
    position: sticky;
    width: 50%;
}

label {
    display: block;
    line-height: 1.5em;
    margin-bottom: 4px;
}

#report {
    float: right;
    width: 50%;
}

.pending { color: lightgray; }
.error { color: red; }
.success { color: green; }
.info { color: #0489B1; }

/* syntax highlighting */
pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    white-space: pre-wrap;
}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: gray; }
